body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8ff;
    color: #333;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
header {
    background-color: #e6e6fa;
    color: #333;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #dda0dd;
}
header a {
    color: #778899;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header nav {
    float: right;
    margin-top: 10px;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
#content {
    padding: 20px;
    background-color: #fff0f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #e0ffff;
    font-weight: bold;
}
form div {
    margin-bottom: 15px;
}
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
form input[type="text"],
form input[type="email"],
form textarea,
form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus,
form select:focus {
    outline: 2px solid #dda0dd;
}
form button {
    background-color: #b0e2ff;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover {
    background-color: #add8e6;
}
footer {
    background-color: #e6e6fa;
    color: #333;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
@media (max-width: 768px) {
    .container {
        width: 95%; /* Make the container wider on smaller screens */
    }

    header #branding,
    header nav {
        float: none;
        text-align: center;
    }

    header nav li {
        float: none;
        display: block;
        padding: 5px;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
